<?php

/**
 * @package mod-jobtracker
 * @category mod
 * @author Clifford Tham, Valery Fremaux > 1.8
 * @date 02/12/2007
 *
 * A view that layouts the element administration
 */

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/jobtracker
}

?>

<table width="100%">
    <tr valign="top" width="50%">
        <td align="left">
            <?php
                include $CFG->dirroot.'/mod/jobtracker/views/admin_elements_used.php'; 
            ?>
        </td>
        <td align="left" width="50%">
            <?php
                include $CFG->dirroot.'/mod/jobtracker/views/admin_elements.php'; 
            ?>
        </td>
    </tr>
</table>
