<?php

/**
 * @package mod-jobtracker
 * @category mod
 * @author Clifford Tham, Valery Fremaux > 1.8
 * @date 02/12/2007
 *
 * Prints a form for user preferences
 */

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/jobtracker
}

echo "<br/>";
echo $OUTPUT->heading(get_string('mywatches', 'jobtracker'));
$OUTPUT->box_start('center', '80%', '', '', 'generalbox', 'bugreport');
$mywatches = jobtracker_getwatches($jobtracker->id, $USER->id);
?>
<center>
<form name="watchesform" method="post" action="view.php">
<input type="hidden" name="id" value="<?php p($cm->id) ?>">
<input type="hidden" name="what" value="unregisterall">
<input type="hidden" name="userid" value="<?php p($USER->id) ?>">
<?php
if(empty($mywatches)) {
    print_string('nowatches', 'jobtracker');
} else {
    $idstr = get_string('id', 'jobtracker');
    $summarystr = get_string('summary', 'jobtracker');
    $peoplestr = get_string('observers', 'jobtracker');
    $actionstr = get_string('action', 'jobtracker');
    $notificationstr = get_string('notifications', 'jobtracker');
    $table = new html_table();
    $table->head = array("<b>$idstr</b>", "<b>$summarystr</b>", "<b>$peoplestr</b>", "<b>$actionstr</b>", "<b>$notificationstr</b>");
    $table->size = array('10%', '50%', '10%', '10%', '%20');
    $table->align = array('left', 'left', 'center', 'center', 'center');
    foreach ($mywatches as $awatch) {
        $actions = "<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=unregister&amp;jobid={$awatch->jobid}&amp;ccid={$awatch->userid}\" title=\"".get_string('delete')."\"><img src=\"".$OUTPUT->pix_url('t/delete','core')."\" border=\"0\" /></a>";
        $actions .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=editwatch&amp;ccid={$awatch->userid}\" title=\"".get_string('update')."\"><img src=\"".$OUTPUT->pix_url('t/edit', 'core')."\" border=\"0\" /></a>";
        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_OPEN) {
            if ($awatch->events & JOBTRACK_EVENT_OPEN) {
                $notifications = "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;open=0\" title=\"".get_string('unsetwhenopens','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('open','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications = "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;open=1\" title=\"".get_string('setwhenopens','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('open_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_SHORTLIST) {
            if ($awatch->events & JOBTRACK_EVENT_SHORTLIST) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;shortlist=0\" title=\"".get_string('unsetwhenshortlisted','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('shortlist','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;shortlist=1\" title=\"".get_string('setwhenshortlisted','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('shortlist_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_WAITINGEVENT) {
            if ($awatch->events & JOBTRACK_EVENT_WAITINGEVENT) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;waitingevent=0\" title=\"".get_string('unsetwhenwaitsevent','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('waitingevent','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;waitingevent=1\" title=\"".get_string('setwhenwaitsevent','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('waitingevent_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_TOREFRESH) {
            if ($awatch->events & JOBTRACK_EVENT_TOREFRESH) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;testing=0\" title=\"".get_string('unsetwhentorefresh','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('torefresh','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;testing=1\" title=\"".get_string('setwhentorefresh','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('torefresh_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_MEETINGSCHEDULED) {
            if ($awatch->events & JOBTRACK_EVENT_MEETINGSCHEDULED) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;meetingscheduled=0\" title=\"".get_string('unsetwhenmeetingscheduled','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('meetingscheduled','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;meetingscheduled=1\" title=\"".get_string('setwhenmeetingscheduled','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('meetingscheduled_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_MEETINGDONE) {
            if ($awatch->events & JOBTRACK_EVENT_MEETINGDONE) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;meetingdone=0\" title=\"".get_string('unsetwhenmeetingdone','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('meetingdone','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;meetingdone=1\" title=\"".get_string('setwhenmeetingdone','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('meetingdone_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_CONCLUDED) {
            if ($awatch->events & JOBTRACK_EVENT_CONCLUDED) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;concluded=0\" title=\"".get_string('unsetwhenconcluded','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('concluded','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;concluded=1\" title=\"".get_string('setwhenconcluded','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('concluded_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($jobtracker->enabledstates & JOBTRACK_ENABLED_DEAD) {
            if ($awatch->events & JOBTRACK_EVENT_DEAD) {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;dead=0\" title=\"".get_string('unsetwhendead','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('dead','mod_jobtracker')."\" border=\"0\" /></a>";
            } else {
                $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;dead=1\" title=\"".get_string('setwhendead','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('dead_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
            }
        }

        if ($awatch->events & JOBTRACK_ON_COMMENT) {
            $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;oncomment=0\" title=\"".get_string('unsetoncomment','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('comments','mod_jobtracker')."\" border=\"0\" /></a>";
        } else {
            $notifications .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;view=profile&amp;what=updatewatch&amp;ccid={$awatch->id}&amp;oncomment=1\" title=\"".get_string('setoncomment','jobtracker')."\"><img src=\"".$OUTPUT->pix_url('comments_shadow','mod_jobtracker')."\" border=\"0\" /></a>";
        }

        $watchid = "<a href=\"{$CFG->wwwroot}/mod/jobtracker/view.php?id={$cm->id}&view=view&screen=viewanjob&jobid=$awatch->jobid\">".$jobtracker->ticketprefix.$awatch->jobid.'</a>';

        $table->data[] = array($watchid, $awatch->company, $awatch->people, $actions, $notifications);
    }
    echo html_writer::table($table);
?>
<br/><input type="submit" name="go_btn" value="<?php print_string('unregisterall', 'jobtracker') ?>" />
<?php
}
?>
</form>
</center>
<?php
$OUTPUT->box_end();
